﻿@inject TareaService _tareaService;

<div class="overlay">
    <div class="edit-form">
        <h3>Añadir Tarea</h3>
        <div class="form-group">
            <label for="tareaTitulo">Título tarea:</label>
            <input type="text" class="form-control" id="tareaTitulo" @bind="@_tareaTitulo" maxlength="20" required="true"/>
        </div>
        <div class="form-group">
            <label for="tareaTitulo">Descripción tarea:</label>
            <input type="text" class="form-control" id="tareaDescripcion" @bind="@_tareaDescripcion" maxlength="50" required="true"/>
        </div>
        <br />
        <button class="btn btn-success" @onclick="AddTareaAsync">Guardar</button>
        <button class="btn btn-secondary" @onclick="CloseOverlayAsync">Cancelar</button>
    </div>
</div>

@code {
    private string? _tareaTitulo;
    private string? _tareaDescripcion;
    [Parameter]
    public EventCallback<Tarea> TareaAdded { get; set; }
    [Parameter]
    public bool IsOverlayVisible { get; set; }
    [Parameter]
    public EventCallback<bool> isOverlayVisibleChanged{ get; set; }

    private async Task AddTareaAsync()
    {
        var newTarea = new Tarea { Titulo = _tareaTitulo!, Descripcion = _tareaDescripcion! };
        var tarea = await _tareaService.AddTareaAsync(newTarea);
        await TareaAdded.InvokeAsync(tarea);
        await isOverlayVisibleChanged.InvokeAsync(false);
    }

    private async Task CloseOverlayAsync()
    {
        await isOverlayVisibleChanged.InvokeAsync(false);
    }
}
