﻿@page "/{id:int}"
@inject TareaService _tareaService;

@if (tarea is null)
{
    <p>No se encuentra la tarea</p>
}
else
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@tarea.Titulo</h5>
            <p class="card-text">Descripción: @tarea.Descripcion</p>
            <button class="btn btn-primary" @onclick="EditTarea">Editar</button>
        </div>
    </div>
}
@if (OverlayVisible)
{
    <EditTarea Tarea="tarea" @bind-IsOverlayVisible="OverlayVisible" />
}


@code {
    [Parameter]
    public int Id { get; set; }
    private Tarea? tarea;
    private bool OverlayVisible { get; set; }

    protected async override Task OnInitializedAsync()
    {
        tarea = await _tareaService.GetTareaByIdAsync(Id);
    }

    private void EditTarea()
    {
        OverlayVisible = true;
    }

    private void OnTareaUpdated(Tarea updatedTarea)
    {
        tarea = updatedTarea;
    }
}
