﻿@inject TareaService _tareaService;
@inject NavigationManager _navigationManager;

<div class="overlay">
    <div class="edit-form">
        <h3>Editar Tarea</h3>
        <div class="form-group">
            <label for="tareaTitulo">Título tarea:</label>
            <input type="text" class="form-control" id="tareaTitulo" @bind="@Tarea.Titulo" maxlength="20" />
        </div>
        <div class="form-group">
            <label for="tareaTitulo">Descripción tarea:</label>
            <input type="text" class="form-control" id="tareaDescripcion" @bind="@Tarea.Descripcion" maxlength="50" />
        </div>
            <br>
        <button class="btn btn-success" @onclick="SaveTareaAsync">Guardar</button>
        <button class="btn btn-secondary" @onclick="CloseOverlayAsync">Cancelar</button>
    </div>
</div>


@code {
    [Parameter]
    public Tarea? Tarea { get; set; }
    [Parameter]
    public bool IsOverlayVisible { get; set; }
    [Parameter]
    public EventCallback<bool> IsOverlayVisibleChanged { get; set; }

    private async Task SaveTareaAsync()
    {
        var updated = await _tareaService.UpdateTareaAsync(Tarea);
        if(updated is not null)
        {
            await IsOverlayVisibleChanged.InvokeAsync(false);
            _navigationManager.NavigateTo($"/");
        }
        else
        {
            Console.WriteLine("Update fallido");
        }
    }

    private async Task CloseOverlayAsync()
    {
        await IsOverlayVisibleChanged.InvokeAsync(false);
    }
}
