﻿@page "/"
@inject TareaService _tareaService;
@inject NavigationManager _navigationManager;


<h3>Lista de Tareas</h3>
<div class="row">
    <div class="col col-3">
        <button class="btn btn-rounded btn-primary"
        @onclick="AddTarea"> Añadir Tarea
    </button>
    </div>
</div>
    <br/>

@if (AddOverlayVisible)
{
    <AddTarea @bind-IsOverlayVisible="AddOverlayVisible"
                TareaAdded="OnTareaAdded" />
}

@if (_tareas.Count() <= 0)
{
    <p>No hay tareas disponibles.</p>
}
else
{
    <div class="row">
        @foreach (var tarea in _tareas)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@tarea.Titulo</h5>
                        <p class="card-text">Descripción: @tarea.Descripcion</p>
                        <div>
                            <button class="btn btn-info"
                            @onclick="() => ViewDetails(tarea)">                              
                               Ver Detalles
                            </button>
                            <button class="btn btn-danger"
                             @onclick="() => DeleteTarea(tarea)">
                               Borrar Tarea
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    private List<Tarea> _tareas = new List<Tarea>();
    private bool AddOverlayVisible { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var result = await _tareaService.GetAllTareasAsync();
        _tareas = result.ToList();
    }

    private void AddTarea()
    {
        AddOverlayVisible = true;
    }

    private void OnTareaAdded(Tarea newTarea)
    {
        _tareas.Add(newTarea);
        StateHasChanged();
    }

    private void ViewDetails(Tarea tarea)
    {
        _navigationManager.NavigateTo($"/{tarea.Id}");       
    }

    private async Task DeleteTarea(Tarea tarea)
    {
        await _tareaService.DeleteTareaAsync(tarea!.Id);
        _tareas.Remove(tarea);

    }

    [Parameter]
    public int Id { get; set; }
    private Tarea? tarea;
    private bool OverlayVisible { get; set; }


}
